h1{
    display: flex;
    justify-content: center;
    margin: 40px;
    
}

.InputMain{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 70px;
}

.bott{
    display:flex;
    justify-content: center;
}


