.Column1>img{
    height: 100px;
    width: 100px;
}

.Column2>img{
    height: 100px;
    width: 100px;
}

.TituloStart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;

}
.Main{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.bt{
    background-color: #F6511D;
    border-radius:2px;
    font-size:20px;
    width: 180px;
    height: 58px;
    color: white;
}

.button_Listar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 300px;
}

